/* Write your CSS here */

.main-event-page {
}
.dark {
  background-color: #323f4b;
  width: 50%;
  min-height: 100vh;
}

.dark-head {
  color: #ffffff;
  padding-left: 40px;
}
.right {
  background-color: ;
  width: 50%;
}
