* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.apart {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
li {
  list-style: none;
}
